version: "3.5"
services:
  db:
    build: database

    environment:
      MYSQL_USER: "user"
      MYSQL_ROOT_PASSWORD: "password"

    command: --default-authentication-plugin=mysql_native_password

    networks:
      - backend

  backend:
    build: backend
    depends_on:
      - db

    networks:
      - frontend
      - backend

  proxy:
    build: proxy
    depends_on:
      - backend

    ports:
      - "80:80"
      - "443:443"

    networks:
      - frontend

networks:
  frontend:
  backend: 
